*{
	margin:0;
	padding:0;
}
ul,li{
	list-style:none;
}
a{
	text-decoration: none;
}
.secondHeader{
	height: 70px;
    width: 100%;
    filter: alpha(opacity=80);
    background-color: #000;
    background: rgba(0,0,0,0.8);
}
.secondHeader .secondHeaderCenter-clearfix{
	width:1200px;
	margin:0 auto;
}
.secondHeader .secondHeaderCenter-clearfix .sheaderLeft{
	width:30px;
	float: left;
}
.secondHeader .secondHeaderCenter-clearfix .sheaderRight{
	float: right;
}
.secondHeader .secondHeaderCenter-clearfix .sheaderRight a{
	display: inline-block;
    line-height: 70px;
    padding: 0 10px;
    color:#999;
    font-size: 12px;
}
.bgcolor{
	padding:30px 0;
	background:url(../img/22.jpg) repeat;
}
.bgcolor .reg_box{
	width: 1200px;
    margin: 0 auto;
    height: 720px;
}
.bgcolor .reg_box .reg_center{
	width: 310px;
    padding: 30px 35px;
    float: right;
    background-color: #fff;
    margin-top: 80px;
    position: relative;
    font-size:14px;
}
.bgcolor .reg_box .reg_center .tab_phone .login_ewm{
    height: 20px;
    margin-bottom: 50px;
}
#scan{
    margin-bottom:30px;
}
#loginEwm{
    width: 100%;
    height: 192px;
    position: relative;
}
#loginEwm img{
    width: 192px;
    position: absolute;
    left: 59px;
    top: 0;
}
#scan p{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 35px;
    height:20px;
}
#scan p a{
    font-size: 14px;
    font-weight: bold;
    color: #f19108;
    margin: 0 5px;
    text-decoration: underline;
}
.bgcolor .reg_box .reg_center .tab_phone .login_ewm li{
    float: left;
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
    font: normal 18px/20px microsoft yahei;
    color: #666;
}
.bgcolor .reg_box .reg_center .login_ewm li.on{
    color: #f19108;
}
.login_ewm_cont ul .login_tips{
    position: relative;
}
.login_ewm_cont ul li{
    margin-bottom: 15px;
    width: 310px;
}
.login_ewm_cont ul li input{
    width: 298px;
    height: 20px;
    line-height: 20px;
    padding: 14px 5px;
    border: 1px solid #dedede;
    font-size: 14px;
    font-weight: bold;
    font-family: 'microsoft yahei';
    border-radius: 0;
}
.login_ewm_cont ul li label{
    position: absolute;
    height: 50px;
    line-height: 50px;
    left: 10px;
    top: 0;
    color: #999;
    cursor: text;
}
 .rememberMe{
    position: relative;
    top:-10px;
}
.btn_submit{
    padding: 9px 0 38px 0;
    position: relative;
}
.btn_submit input{
    width: 100%;
    line-height:50px;
    background-color: #f19108;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.jiathis{
    padding-bottom:30px;
}
.jiathis p{
    color:#999;
    padding:5px 0;
    line-height:20px;
}
.jiathis p a{
    display: inline-block;
    width: 50px;
    height: 25px;
    cursor: pointer;
    padding-right: 10px;
}
.jiathis p .weix{
    margin-top:2px;
}
.jiathis p a span{
    font-size:12px;
    margin-left:5px;
    overflow: hidden;
}
.msg span{
    color:#999;
}
.msg a.active{
    color:#f19108;
}
.msg span.fr{
    float: right;
}
.msg span.fr a{
    color:#999;
}
/*.bgcolor .reg_box .reg_center .tab_phone .t_right{
    width: 60px;
    height: 40px;
    line-height: 40px;
    color: #666;
    float: left;
}*/
/*.bgcolor .reg_box .reg_center .tab_phone .regTips-clearfix div{
	width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-family: microsoft yahei;
    float: right;
}
.bgcolor .reg_box .reg_center .tab_phone .login_tips input{
	width: 298px;
    height: 20px;
    line-height: 20px;
    padding: 10px 5px;
    border: 1px solid #dedede;
    font-size: 14px;
    font-weight: bold;
    font-family: 'microsoft yahei';
    border-radius: 0;
}
.bgcolor .reg_box .reg_center .btn_reg_submit{
	padding:10px 0;
}
#regSubmit{
	width:310px;
	height:50px;
    background-color: #f19108;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.bgcolor .reg_box .reg_center .btn_reg_submit .protocol_check{
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 5px 0;
    color: #999;
}
.bgcolor .reg_box .reg_center .btn_reg_submit .msg-clearfix{
	padding-top: 30px;
	color:#999;
}
.bgcolor .reg_box .reg_center .btn_reg_submit .msg-clearfix a{
	color: #f19108;
}*/
.ncontainer-foot{
	width:1200px;
	height:438px;
	margin:0 auto;
}
.ncontainer-foot .title{
	margin: 76px auto 104px;
    border-top: 1px solid #f8a120;
    position: relative;
}
.ncontainer-foot .title span{
    display: inline-block;
    width: 160px;
    line-height: 1;
    font-size: 26px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 50%;
    margin: -13px 0 0 -80px;
}
.ncontainer-foot .like-slide{
	width:1200px;
	height:333px;
	margin:0 auto;
	overflow: hidden;
}
.ncontainer-foot .like-slide ul{
	height:310px;
	line-height:1;
	position: relative;
}
.ncontainer-foot .like-slide ul li{
	width:1420px;
	height:100%;
	position: absolute;
    top: 0;
    left: 0;
}
.ncontainer-foot .like-slide ul .left-margin{
	position: absolute;
	left:100%;
}
.ncontainer-foot .like-slide ul li a{
    float: left;
    margin-right: 106px;
    width: 220px;
    color:#000;
}
.ncontainer-foot .like-slide ul li a:hover{
    color:#f8a120; 
}
.ncontainer-foot .like-slide ul li a img{
    height:220px;
}
.ncontainer-foot .like-slide ul li a p{
    margin: 33px 0 12px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ncontainer-foot .like-slide ul li a p{
   font-size:16px;
}
.ncontainer-foot .like-slide ol{
    margin-top: 20px;
    height: 3px;
    font-size: 0;
    text-align: center;
}
.ncontainer-foot .like-slide ol li{
    display: inline-block;
    margin: 0 2px;
    width: 20px;
    height: 3px;
    overflow: hidden;
    background-color: #cccccc;
}
.ncontainer-foot .like-slide ol li:nth-child(1){
    background:#f8a120;
}
.nfooter{
	margin-top: 1px;
    padding: 37px 0 66px;
    background-color: #f5f5f5;
}
.nfooter .nfooter-ncontainer{
	width:1200px;
	margin:0 auto;
}
.nfooter .nfooter-ncontainer ul{
	font-size: 14px;
	height:136px;
}
.nfooter .nfooter-ncontainer ul li{
	float: left;
    width: 236px;
    line-height: 34px;
}
.nfooter .nfooter-ncontainer ul li a{
	color:#000;
}
.nfooter .nfooter-ncontainer ul li a:hover{
	color:#f8a120;
}
.nfooter .nfooter-info{
	margin-top: 25px;
    line-height: 36px;
    font-size: 14px;
}
.nfooter .nfooter-info span{
	margin-right: 28px;
}
.nfooter .nfooter-info span a{
	color:#000;
}
.nfooter .nfooter-info-imgs{
	margin-top:8px;
	font-size: 14px;
}
.nfooter .nfooter-info-imgs a{
	float: left;
    margin-right: 20px;
    width: 108px;
    height: 40px;
}
.nfooter .nfooter-info-imgs a img{
    width: 108px;
    height: 40px;
}

